.img
  height: 120%
  width: 100%
  opacity: 60%
  object-fit: cover

.imgWrap
  display: flex
  height: 70vh
  z-index: 2
  width: 100%
  background: #0a0a0a

.separate
  display: flex
  justify-content: center
  background: #093335
  color: white
  font-size: 5em
  padding: 2em 2em 2em 2em
